header{
    
    width: 1280px;
    margin: 0 auto;
    padding: 40px 44px 55px 66px; 

}
.illuminated{
    vertical-align: middle;
    margin-right: 72px;
}
nav{
    display: inline-block;   
}
li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 102px;
    color: #7f7f7f;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
section{
    width: 1280px; 
    height: 770px;
    background-color:#306b34;
    margin: 0 auto;
    padding-left: 95px;
    padding-top: 174px;
    padding-bottom: 152px;   
}
.img{
    padding-right: 89px;
}
div{
display: inline-block;
width: 307px;
vertical-align: top;
}
.satauri1{
    font-size: 40px;
    color: #19381f;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 20px;
    color: #f4f4f1;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
article{
    margin: 0 auto;
    font-size: 40px;
    color: #36413e;
    margin: 2px solid red;
    padding-left: 184px;
    padding-top: 50px;
    padding-right: 137px;
    padding-bottom: 150px;
}
.what{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.text2{
    width: 959px;
    margin: 0 auto;
    color: #7f7f7f;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
footer{
    background-color: #306b34;
    width: 1280px;
    margin: 0 auto;
    padding-left: 74px;
    padding-top: 25px;
    padding-bottom: 27px;
}
.logo2{
    margin-right: 724px;
}

 